@font-face {
    font-family: OpenSans-Light;
    src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSans-Bold;
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: NorthAvvelion;
    src: url('../fonts/north-avellion/NorthAvellion.otf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

main, header {
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-family: Montserrat-Light;
}

// General //



.bold {
    font-family: Montserrat-Bold;
}

h2 {
    font-family: NorthAvvelion;
    font-size: 125px;
}

.link__style {
    text-decoration: none;
    color: black;
}
.link__style:hover {
    transform: scale(1.2);
    font-family: OpenSans-Bold;
    color: black;
}


// Header //

.plus {
    font-family: OpenSans-Light;
    font-size: 41px;
    margin-bottom: 0;
}

.tagline {
    font-family: OpenSans-Light;
    font-size: 15px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.header__title__section {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
        padding: 15px 0;
        font-size: 50px;
    }
    p {
        font-family: Montserrat-Light;
    }
    span {
        font-family: Montserrat-Bold;
    }
}


// Body //

.page__title {
    text-align: center;
    padding: 45px 0;
}

.title__layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotify__section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.horizontal_line {
    margin: 7% 0
}

.title__name {
    font-size: 75px;
}

.spotify__button {
    text-align: center;
}


// Banner //

.banner {
    margin-top: 12%;
    text-align: center;
    background-color: rgb(240, 180, 26);
    color: white;
}

// Footer //

footer {
    p {
        font-size: 20px;
        font-family: OpenSans-Light;
    }
}


// Responsive //

@media (min-width: 768px){
   .header__title__section {
        p {
            font-size: 8px;
        }
        span {
            font-size: 10px;
        }
        h2 {
            font-size: 70px;
            padding-top: 20px;
            padding-bottom: 0;
        }
    }
}

@media (min-width: 1000px){
    .tagline {
        font-size: 20px;
        margin-bottom: 0;
        padding-left: 20px;
    }

    .page__title {
        padding: 90px 0;
    }

    .header__title__section {
        p {
            font-size: 10px;
        }
        span {
            font-size: 10px;
        }
        h2 {
            font-size: 70px;
            padding-top: 20px;
            padding-bottom: 0;
        }
    }
}

@media (min-width: 1200px){
    .header__title__section {
        p {
            font-size: 13px;
        }
        span {
            font-size: 13px;
        }
        h2 {
            font-size: 85px;
            padding-top: 20px;
        }
    }
}

@media (min-width: 1300px){
    .header__title__section {
        p {
            font-size: 13px;
        }
        span {
            font-size: 13px;
        }
        h2 {
            font-size: 90px;
            padding-top: 25px;
        }
        .smiley {
            padding-top: 15px;
        }
    }
}

@media (min-width: 1400px){
    .header__title__section {
        p {
            font-size: 15px;
        }
        span {
            font-size: 15px;
        }
        h2 {
            font-size: 90px;
            padding-top: 35px;
        }
        .smiley {
            padding-top: 35px;
        }
    }
}

@media (min-width: 1600px){
    .header__title__section {
        p {
            font-size: 15px;
        }
        span {
            font-size: 15px;
        }
        h2 {
            font-size: 100px;
            padding-top: 45px;
        }
        .smiley {
            padding-top: 60px;
        }
    }
}

@media (min-width: 1700px){
    .header__title__section {
        p {
            font-size: 16px;
        }
        h2 {
            font-size: 120px;
            padding-top: 55px;
        }
        .smiley {
            padding-top: 55px;
        }
    }
}

// Animations //


